  <div class='card'>
    <div class='card-header'>{{title}}
    </div>
    <div class='“content”'>
      {{content}}
    </div>
    <div>
    <a href='/dashboard/edit/{{card.id}}' class='edit-link'>Edit card</a>
    </div>
  </div>
