<div class='cardWrapper'>
  <div class='card'>
    <h5 class='card-header'>{{title}}</h5>
    <div class='“content”'>
      {{content}}
    </div>
    <a href='/dashboard/edit/{{card.id}}' class='edit-link'>Edit card</a>

  </div>
</div>