


    <div class="listWrapper">
      <div class="list">
        
        <h5 class="list-header">{{title}}</h5>
        <div class="list-options">
              <a href="/dashboard/edit/{{list.id}}" class="link-dark">Edit list</a>

          <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addCardModal">
          Add a card
        </button>
        </div>
</div>
      
        <div class="cardWrapper">
      <div class="card">
        {{#if cards.length}}
<section>
  <div>
    {{#each cards as |card|}}
        
            {{> card-info card}} 
        
    {{/each}}
  </div>
</section>
{{/if}}
          </div>
        </div>
      </div>

    </div>


