

<div class="listMainWrapper" id="list-main-wrapper">
    <div class="listWrapper">
      <div class="list">
        <h5 class="list-header">{{title}}</h5>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCardModal">
          Add a card
        </button>
      </div>
    </div>
</div>

