
   
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Trello</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        {{#if loggedIn}}
        {{#unless dashboard}}
            <a href="/dashboard">
               <div class="btn btn-primary mt-2">Dashboard</div>
            </a>
            {{/unless}}
            <button id="logout" class="btn btn-primary mt-2">Logout</button>
            {{else}}
            {{#unless signup}}
            <a href="/signup">
              <div class="btn btn-primary mt-2">Signup</div>
            </a>
            {{/unless}}
            {{#unless login}}
            <a href="/Login">
              <div class= "btn btn-primary mt-2">Login</div>
            </a>
            {{/unless}}
            {{/if}}
      </li>
    </ul>
  </div>
</nav>
      {{{ body }}}
  
<footer class="container-fluid bg-primary text-center pt-4">
  <p class="text-center">Thanks for choosing Trello! Where you can write down ideas and clear your mind!</p>
</footer>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>