<div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">This is how you life looks now</h5>
      <p class="card-text">Your life seems to be unorganized</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">This can get confusing</h5>
      <p class="card-text">This kind of organization can get confusing</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Do you ever feel like you are stuck?</h5>
      <p class="card-text">Going up and down and not feeling like you are moving forward</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Having to go up and down</h5>
      <p class="card-text">Not being able to feel like anything is accomplished?</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">We have good news for you!</h5>
      <p class="card-text">If you click on the signup button, we can show you how to organize life in less than 5 minutes. </p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Not having the ability to move forward is frustrating</h5>
      <p class="card-text">With this app, we can show you how to organize things into lists and be able to move things forwards when they are complete. </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Decluttering your mind just got a little bit easier.</h5>
      <p class="card-text">The steps to less stress are just a few clicks away!</p>
    </div>
  </div>
</div>